<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page}}</title>
</head>
<body>
    <h1> This is the Django template page</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Doloribus, accusantium illum officiis omnis iusto quo quidem temporibus voluptatibus adipisci enim ea deleniti id dolorum sit quod, 
        ipsam architecto cum nam.
    </p>  

    {% block start %}

    {% endblock %}

</body>
</html>